{% extends "base.html" %}

{% block content %}
<h1>Listar Produtos</h1>

<div class="row mt-4">
	<div class="col">
		<a class="btn btn-primary px-5" href="{% url 'products:create' %}">Novo Registro</a>
		<a class="btn btn-primary ms-2" href="{% url 'products:from_image' %}">Cadastrar pela Nota Fiscal</a>
	</div>
</div>

<div class="row mt-2">
	<div class="col">
		<table class="table table-striped table-hover table-sm mt-3">
			<thead>
				<tr>
					<th style="width:10%;">Cód</th>
					<th style="width:99%">Descrição</th>
					<th style="width:10%; text-align: center;">Tam</th>
					<th style="width:10%; text-align: center;">Quant</th>
					<th style="width:10%; text-align: center;">Preço</th>
					<th style="width:05%; text-align: center;"></th>
					<th style="width:05%; text-align: center;"></th>
					<th style="width:05%; text-align: center;"></th>
				</tr>
			</thead>
			<tbody>
				{% for object in object_list %}
					<tr>
						<td style="width:10%;">{{ object.code }}</td>
						<td>{{ object.description }}</td>
						<td style="width:10%; text-align: center;">{{ object.size }}</td>
						<td style="width:10%; text-align: center;">{{ object.quantity }}</td>
						<td style="width:10%; text-align: center;">{{ object.unit_price }}</td>
						<td style="width:05%; text-align: center;"><a href="{% url 'products:detail' object.id %}" title="Visualizar"><i class="bi bi-eye-fill"></i></a></td>
						<td style="width:05%; text-align: center;"><a href="{% url 'products:update' object.id %}" title="Atualizar"><i class="bi bi-pencil-square"></i></a></td>
						<td style="width:05%; text-align: center;"><a href="{% url 'products:delete' object.id %}" title="Excluir"><i class="bi bi-trash3-fill"></i></a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}